* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Alumni Sans SC", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

header {
    background-image: url(../images/seven-deadly-sins_b78x.1280.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    color: $color-terciario;
    font-size: 50px;
    h1{
        font-size: 100px !important;
        font-weight: 600;
    }
    nav {
        ul {
            li {
                a {
                    text-decoration: none;
                    color: $color-terciario;
                    font-size: 30px;
                    padding-right: 20px;
                    font-weight: 600;
                    transition: all 0.5s;
                    &:hover{
                        color: white;
                        font-size: 35px ;
                    }
                }
            }
        }
    };
}

.titulo {
    background-color: $color-principal;
    color: $color-secundario;
}

.titulo1 {
    background-color: rgb(1, 1, 58);
    color: $color-cuaternario;
}

.titulo2 {
    background-color: rgb(116, 66, 30);
    color: rgb(67, 101, 204);
}

.productos {
    background-image: url(../images/dbzfondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
}

.productos-2 {
    background-image: url(../images/nfondo.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:scroll;
}

.productos-3 {
    background-image: url(../images/opfondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-principal;
    font-size: 40px;
    color: $color-terciario;
    h2 {
        font-size: 60px;
        display: flex;
        justify-content: center;
        background-color: $color-terciario;
        color: $color-cuaternario;
    }
}


ul {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}

.productos-destacados img {
    width: 300px;
    height: 300px;
}

.grid-productos {
    margin: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    gap: 10px;
    .cuadro1 {
        grid-row: span 2;
        width: 400px;
        &:hover {
            width: 600px;
            transition: width 0.5s ease;
        }
    }
    .cuadro3 {
        grid-row: span 2;
        width: 400px;
        &:hover {
            width: 600px;
            transition: width 0.5s ease;
        }
    }
    .cuadro4 {
        grid-row: span 2;
    }
    .grid-item {
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.tienda {
    border: 2px solid $color-terciario;
    margin: 95px 95px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    h3 {
        font-size: 60px;
        display: flex;
        justify-content: center;
        background-color: $color-terciario;
        color: $color-cuaternario;
    }
    img {
        width: 400px;
        height: 500px;
        margin: 80px;
        &:hover {
            width: 600px;
            height: 700px;
            transition: width 0.5s ease;
        }
    }
    div {
        font-size: 40px;
        h4 {
            font-size: 50px;
        }
    }
}

.grid-tienda {
    margin: 80px;
    border: 2px solid $color-terciario;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    font-size: 30px;
    .cuadro-1 {
        grid-row: span 2;
    }
    div {
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.gap-2 {
    margin: 50px !important;
}

.fixed {
    position: fixed;
    bottom: 50px;
    right: 20px;
}

.contacto {
    background-color: $color-principal;
    color: $color-secundario;
}

.form-control {
    font-size: 30px;
}

footer {
    background-color: gray;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (min-width:350px) and (max-width:500px){
    .productos, .productos-2, .productos-3{
        width: 100px;
    }
    .tienda{
        border: transparent;
    }
    footer{
        width: 100%;
    }
}

@media only screen and (min-width:501px) and (max-width:960px){
    .productos, .productos-2, .productos-3{
        width: 100px;
    }
    .tienda{
        border: transparent;
    }
    footer{
        width: 100%;
    }
}

@import "./bases/funcionalidades";
@import "./bases/generales";
@import "./bases/querys";
