@media only screen and (min-width:350px) and (max-width:500px){
    .productos, .productos-2, .productos-3{
        width: 100px;
    }
    .tienda{
        border: transparent;
    }
    footer{
        width: 100%;
    }
}

@media only screen and (min-width:501px) and (max-width:960px){
    .productos, .productos-2, .productos-3{
        width: 100px;
    }
    .tienda{
        border: transparent;
    }
    footer{
        width: 100%;
    }
}